::-webkit-scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background: #333;
}

::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(to right, #6366f1, #a855f7);
}

p,
.is-post li {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 1.5;
}

.is-post pre {
	@apply my-8 rounded p-4;
}

.is-post h4 {
	@apply mt-8 mb-4 text-xl font-bold;
}

.is-post ol {
	@apply list-inside list-decimal;
}

.is-post ul {
	@apply list-inside list-disc;
}

.is-post li {
	@apply mb-2;
}

.is-post b {
	@apply font-bold;
}

.is-post a {
	@apply text-purple-400;
}
