---
import Title from './Title.astro';

const { post } = Astro.props;
---

<section class="post text-purple-100">
	<header class="mb-8">
		<Title title={post.title} />
		<small>
			📅 {new Intl.DateTimeFormat('es-ES', { dateStyle: 'long' }).format(new Date(post.createdAt))}
		</small>

		<img class="mx-auto mt-8 rounded" src={post.image} alt={post.title} />
	</header>

	<slot />
</section>
